body {
    font-family: "Trebuchet MS", monospace;
    margin: 0;
    padding: 20px;
    background-color: #222; /* dark background color */
    color: #fff; /* white text color */
}

h1 {
    text-align: center;
    color: #ff69b4; /* hot pink color for heading */
}

h3 {
    color: #ff69b4; /* hot pink color for h3 headings */
}

h4 {
    color: #ff69b4; /* hot pink color for h4 headings */
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ff69b4; /* hot pink color for labels */
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fce4ec; /* light pinkish color for input fields */
    width: 100%; /* make input fields responsive */
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4; /* hot pink color for button */
    color: #fff; /* white text color for button */
    cursor: pointer;
    width: 100%; /* make button responsive */
}

p {
    margin-bottom: 10px;
    color: #ccc; /* light gray color for paragraph text */
}

#result {
    text-align: center;
    margin-top: 20px;
    color: #ff69b4; /* hot pink color for result text */
}
